{% load static from staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fingerprint Scan</title>
   
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=" sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <div id="Container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">

            <div class="navbar-header">
              <div class="navbar-brand" href="#" style="color: white;">Fingerprint Clock In/Out</div>
            </div>

            <ul class="nav navbar-nav">
              <li id="Reader" class="active">
                <a href="#" style="color: white;" onclick="toggle_visibility(['content-reader','content-capture',
                'content-register','content-administrator']);setActive('Reader','Capture','Register', 'Admin')">
                    Reader</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li id="Capture" class="">
                <a href="#" style="color: white;" onclick="toggle_visibility(['content-capture','content-reader', 
                'content-register', 'content-administrator']);setActive('Capture','Reader','Register', 'Admin')">
                    Capture</a>
              </li>
            </ul> 

            <ul class="nav navbar-nav">
              <li id="Register" class="">
                <a href="#" style="color: white;" onclick="toggle_visibility(['content-register','content-reader',
                'content-capture', 'content-administrator']);setActive('Register','Reader','Capture', 'Admin')">
                    Register</a>
              </li>
            </ul>   

            <ul class="nav navbar-nav">
              <li id="Admin" class="">
                <a href="#" style="color: white;" onclick="toggle_visibility(['content-administrator','content-reader',
                'content-capture', 'content-register']);setActive('Admin','Reader','Capture', 'Register');onAdminPage();">
                    Administrator</a>
              </li>
            </ul>     

          </div>
        </nav>
       <div id="Scores">
           <h5>Scan Quality : <input type="text" id="qualityInputBox" size="20" style="background-color:#DCDCDC;text-align:center;"></h5> 

       </div>

        <div id="content-reader">  
            <h4>Select Reader :</h4>
            <select class="form-control" id="readersDropDown" onchange="selectChangeEvent()">
            </select>
            <div id="readerDivButtons">
                <table width=70% align="center">
                        <tr>
                            <td>
                                <input type="button" class="btn btn-primary" id="refreshList" value="Refresh List" 
                                    onclick="Javascript:readersDropDownPopulate(false)">
                            </td>
                            <td>
                                <input type="button" class="btn btn-primary" id="capabilities" value="Capabilities"
                                data-toggle="modal" data-target="#myModal" onclick="Javascript:populatePopUpModal()">
                            </td>  
                        </tr>
                </table>

              <!-- Modal - Pop Up window content-->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content -->
                  <div class="modal-content" id="modalContent" >
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Reader Information</h4>
                    </div>
                    <div class="modal-body" id="ReaderInformationFromDropDown">
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
  
            </div>
        </div>

        <div id="content-capture" style="display : none;">    
            <div id="status"></div>            
            <div id="imagediv"></div>
            <div id="space"></div>
            <div id="contentButtons">
                <table width=40% align="center">
                    <tr>
                        <td>
                            <input type="button" class="btn btn-primary" id="start" value="Start" onclick="Javascript:onStart()">
                        </td>
                        <td>
                           <input type="button" class="btn btn-primary" id="stop" value="Stop" onclick="Javascript:onStop()">
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary" id="clearButton" value="Clear" onclick="Javascript:onClear()">
                        </td>
                        <td>
                            <input type="button" class="btn btn-success" id="clock" value="ClockOut" onclick="Javascript:onClockOut()">
                        </td>
                </table>
            </div> 
            <div id="clockinfo_display" style = "overflow: auto;"></div>    

        </div>

        <div id = "content-register">
            <div id="username">
                <input type="text" class="form-control" placeholder="User Name" id="usr_name">
            </div>
            <div id="status"></div>
            <div id="imagediv1"></div>
            <div id="space"></div>
            <div id="contentButtons">
                <table width=40% align="center">
                    <tr>
                        <td>
                            <input type="button" class="btn btn-primary" id="start" value="Start" onclick="Javascript:onStart()">
                        </td>
                        <td>
                           <input type="button" class="btn btn-primary" id="stop" value="Stop" onclick="Javascript:onStop()">
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary" id="clearButton" value="Clear" onclick="Javascript:onClear()">
                        </td>
                        <td>
                            <input type="button" class="btn btn-success" id="register" value="Register" onclick="Javascript:onRegister()">
                        </td>
                </table>
            </div>
        </div>
    </div>

    <div id = "content-administrator">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <ul class="nav nav-tabs m-b-30">
                        <li class="active"><a href="#">Users</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </div>
                
                <div class="row">
                    <div class="filter col-md-6">
                        <input type="text" name="datetimes" class="form-control">
                    </div>
                    <div class="col-md-12 m-t-30">
                        <table class="table" id="clock_table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>User</th>
                                    <th>Clocked In</th>
                                    <th>Clocked Out</th>
                                </tr>
                            </thead>
                            <tbody>                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                    <div clas="loader-txt">
                        <p>Processing... Please wait.. <br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'lib/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'lib/bootstrap.min.js' %}"></script> -->

        <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{% static 'scripts/es6-shim.js' %}"></script>
    <script src="{% static 'scripts/websdk.client.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/fingerprint.sdk.min.js' %}"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


    <!-- Jquery dataTable Plugin -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'custom.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#content-register').css('display', 'none');
            $('#content-administrator').css('display', 'none');

            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                  format: 'M/DD hh:mm A'
                }
            });

            clockTable = $('#clock_table').DataTable();
        });
    </script>
</body>
</html>
